@keyframes waveShadow{
    0%{
        filter: drop-shadow(0px 0px 0px #F0AD4E);
    }
    50%{
        filter: drop-shadow(0px 0px 20px #F0AD4E);
    }
    100%{
        filter: drop-shadow(0px 0px 0px #F0AD4E);    
    }
}
@keyframes waveShadowRed{
    0%{
        filter: drop-shadow(0px 0px 0px #D9534F);
    }
    50%{
        filter: drop-shadow(0px 0px 20px #D9534F);
    }
    100%{
        filter: drop-shadow(0px 0px 0px #D9534F);    
    }
}
.event-card-img-cont:hover .event-card-img-overlay{
    
    opacity: 1;
}
.event-card-favourites{
    opacity: .6;
    cursor: pointer;
    transition: all ease .4s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    filter: grayscale(100%);

}
.event-card-favourites:hover{
    opacity: 1;
    animation: waveShadow 2.6s ease-in-out infinite;
    filter: grayscale(0);
}

.event-card-favourites-delete:hover{
    opacity: 1;
    animation: waveShadowRed 2.6s ease-in-out infinite;
    filter: grayscale(0);
}
.event-card-favourites-delete{
    opacity: .6;
    cursor: pointer;
    transition: all ease .4s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    filter: grayscale(100%);

}
.event-card-favourites-delete,
.event-card-favourites{
    width: 40px;    
}