.event-card-img-cont{
    position: relative;
}
.event-card-img{
    background-size: cover;
    height: 150px;
    border-radius: 4px;
    overflow: hidden;
    background-repeat: no-repeat;
    position: relative;
    background-position: center center;
}
.event-card-legal{
    position: absolute;
    color: #fff;
    top: .5rem;
    right: 1rem;
}
.card-list > div {
    margin-bottom: 1rem;
}
.event-card-legal-soft{
    font-size: 14px;
    color: #d2d2d2;
    text-align: right;
}
.event-card-img-overlay{
    background: linear-gradient(180deg, #373737 45%, rgba(79, 79, 79, 0) 100%);
    transition: all .4s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .6;
}

.event-card-cont{
    margin-bottom: 1rem;
}
.event-card{
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.event-card-cont{
    display: flex;
    flex-direction: column;
    padding: .5rem;
    flex-grow: 1;
    
}
.card-brif{
    font-size: 15px;
}