.event-page-bg{
    
    min-height: 400px;
    background-size: cover;
    background-position: center;
    margin-top: 54px;
    position: relative;
}
.event-page-bg-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.82) 27.01%, rgba(0, 0, 0, 0.66) 167.29%);
}
.event-page-container{
    position: relative;
    z-index: 1;
}
.h1-event{
    font-size: 54px;    
    color: #fff;
    font-weight: normal;
    padding-top: 80px;
    margin-bottom: 2rem;
}
.event-brif{
    font-size: 24px;
    color: #D2D2D2;
    max-width: 70%;
    margin-bottom: 1rem;
}
.event-info{
    font-size: 18px;
    color:#D2D2D2;
}
.event-controls{
    display:flex;
    padding-bottom: 2rem;
}
.event-page-container .event-card-favourites-delete,
.event-page-container .event-card-favourites{
    position: static;
    transform: none;
    width: 30px;
    filter: grayscale(.3);
 
}