.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.header-nav-container{
    background: #373A3C;
    padding: 8px 0;
}
.header-nav{
    display: flex;
    align-items: center;
    
}
.header-nav-link{
    color:#999;
}
.header-nav-link.active{
    color:#fff;
}
.header-brand{
    letter-spacing: 2px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}
.header-nav-search{
    font-size: 16px;
    border-radius: 4px;
    padding: 8px 16px;
    width: 300px;
}
.header-nav-search-label{
    position: relative;
}
.header-nav-search-list{
    position: absolute;
    list-style: none;
    padding-left: 0;
    background: #fff;
    width: 100%;
    top: 22px;
    border: 1px solid #373737;
    border-radius: 4px;
    z-index: 1;
}
.header-nav-search-list-item{
    margin-bottom: .5rem;
    padding-left: 18px;
}

.header-nav-search-list-item:hover{
    background: #d2d2d2;
}
.subheader-container{
    background: #fff;
}
.subheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}
.subheader-nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}
.subheader-nav-link:after{
    transition: width ease .4s;
    content: '';
    width: 0;
    height: 2px;
    background: #373737;
    position: absolute;
    bottom: -2px;
    left: 0;
}
.subheader-nav-link.active:after{
    width: 100%;
}
.onpage-nav{
    list-style: none;
    padding: 10px 0;
    display: flex;
    align-items: center;
    margin: 0;
    padding-top: 0;
    margin-bottom: 2rem;

}
.onpage-nav-link:last-child{
    margin-right: 0;
}
.onpage-nav-link.active{
    color: #373737;
}
.onpage-nav-link{
    color: #999;
    text-transform: lowercase;
    margin-right: 1rem;
    cursor:pointer;
}
.h1-main{
    font-size: 40px;
    margin-bottom: 0;
}
.card-title{
    font-size: 18px;
    font-weight: 500;
}
.card-extra{
    font-size: 15px;
    color: #999;
}
.favourites-count{
    font-size: 10px;
    color: #fff;
    background: #999;
    padding: 2px 6px;
    border-radius: 10px;
    vertical-align: middle;
}
.favourites-count.active{
    background: #ec4a51;
}
