html{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #373737;
    
}
body{
    margin:0;
    padding: 0;
    overflow-y: scroll;
}
div,span,header,footer,section,nav,a{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    
}
img{
    max-width: 100%;
}
.text-capitalize{
    text-transform: capitalize;
}
.dn{
    display: none;
}
.df{
    display: flex;
}
.flex-pusher{
    flex-grow: 1;
}
.fw-w{
    flex-wrap: wrap;
}
.df-sb-c{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.mr-1{
    margin-right: 1rem;
}
.mr-2{
    margin-right: 2rem;
}
.mr-auto{
    margin-right: auto;
}
.mr-half{
    margin-bottom: 0.5rem;
}
.mb-1{
    margin-bottom: 1rem;
}
.mb-2{
    margin-bottom: 2rem;
}
.mb-auto{
    margin-bottom: auto;
}
.mb-half{
    margin-bottom: 0.5rem;
}


.btn{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 6px 15px;
    border-radius: 4px;
    font-size: 14px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    white-space: nowrap;
    line-height: 1.25em;
    background-image: none;
    border: 1px solid transparent;
    text-decoration: none;
    box-sizing: border-box;
}
.btn-solid{
    background: #ec4a51;
    color: #fff;
}