
@media screen and (max-width:768px){
    .header-nav{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .header-nav-search{
        margin-top: 1rem;
        width: 100%;
    }
    .header-nav-search-label{
        width: 100%;
    }
    .header-nav-link {
        margin-right: 0;
    }
    .header-nav-search-list{
        top:38px;
    }
    .h1-event{
        font-size: 28px;
    }
    .event-brif{
        max-width: 100%;
        font-size: 18px;
    }
    .event-controls{
        margin-bottom: 1rem;
    }
    .catalog-container {
        margin-top: 140px;
    }
}
@media screen and (max-width:500px){
    .subheader-container{
        overflow-x: auto;
    }
    .subheader{
        min-width: 400px;
        
    }
    .subheader-nav-link{
        font-size: 14px;
    }
    .subheader-nav-link:last-child{
        margin-right: 10px;
    }
    .h1-main{
        font-size: 1.8rem;
    }
    .onpage-nav{
        margin-bottom: 1rem;
    }
}